node_modules/
npm-debug.log*
yarn-error.log*

.DS_Store
.env
.env.*

ios/Pods/
ios/build/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/

android/.gradle/
android/app/build/

coverage/
dist/
